@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat';
  background-color: #eeeeee;
  color: #203a8f;
  font-size: 24px;
  line-height: 1.5;
  padding-left: 64px;
  padding-right: 64px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header nav {
  margin-top: 98px;
}


a {
  text-decoration: none;
}

header h1 {
  width: 68px;
  margin-top: 60px;
}
section {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

section img {
  height: 355px;
  margin: 0 29.20px 29.20px 0;
  transition: filter .5s ease-in;
  filter: grayscale(0%);
}

section img:hover {
  filter: grayscale(100%);
}

footer nav {
  padding-top: 72px;
  padding-bottom: 44px;
}

footer nav a {
  color: #203A8F;
  width: auto;
  position: absolute;
  right: 0;
  bottom: 0'
}